@font-face {
     font-family: 'Basteleur';
     font-style: normal;
     font-weight: 700; /* Bold */
     src: url('https://gitlab.com/rchglucio/basteleur-css/-/raw/main/fonts/webfonts/Basteleur-Bold.woff2') format('woff2'),
          url('https://gitlab.com/rchglucio/basteleur-css/-/raw/main/fonts/webfonts/Basteleur-Bold.woff') format('woff');
   }
   
   @font-face {
     font-family: 'Basteleur';
     font-style: normal;
     font-weight: 400; /* Moonlight */
     src: url('https://gitlab.com/rchglucio/basteleur-css/-/raw/main/fonts/webfonts/Basteleur-Moonlight.woff2') format('woff2'),
          url('https://gitlab.com/rchglucio/basteleur-css/-/raw/main/fonts/webfonts/Basteleur-Moonlight.woff') format('woff');
   }